#accuweather-current-weather h3{line-height:3em;font-size:14px;font-weight:bold;}
#accuweather-current-weather .current{float:left;width:50%;}
#accuweather-current-weather .condition-info{float:left;}
#accuweather-current-weather .condition-info *{display:block;}
#accuweather-current-weather .weather-info{float:left;margin-left:20px;line-height:1.5em;}
#accuweather-current-weather .forecast{float:right;width:50%;}
#accuweather-current-weather .current h5,
#accuweather-current-weather .forecast h5{line-height:2em;}
#accuweather-current-weather .forecast .day{float:left;width:100px;text-align:center;}
#accuweather-current-weather .forecast .day *{display:block;margin:0 auto;}
#accuweather-current-weather:after{clear:both;display:block;overflow:hidden;content:".";height:0;}

#accuweather-user-block .current{float:left;width:50%;}
#accuweather-user-block .condition-info{float:left;}
#accuweather-user-block .condition-info *{display:block;}
#accuweather-user-block .weather-info{float:left;margin-left:20px;line-height:1.5em;}
#accuweather-user-block .forecast{float:right;width:50%;}
#accuweather-user-block .current h5,
#accuweather-user-block .forecast h5{line-height:2em;}
#accuweather-user-block .forecast .day{float:left;width:100px;text-align:center;}
#accuweather-user-block .forecast .day *{display:block;margin:0 auto;}
#accuweather-user-block:after{clear:both;display:block;overflow:hidden;content:".";height:0;}

#accuweather-current-weather-page .current .condition{width:50%;float:left;text-align:center;}
#accuweather-current-weather-page .current .condition img{margin:35px auto;}
#accuweather-current-weather-page .current .weather{width:50%;float:right;}
#accuweather-current-weather-page .forecast{clear:both;}
#accuweather-current-weather-page .forecast .day{margin:10px 0;border:1px solid #eee;padding:10px;clear:both;
    display:block;float:left;width:100%;}
#accuweather-current-weather-page .forecast .day .condition{width:50%;float:left;text-align:center;}
#accuweather-current-weather-page .forecast .day .condition p{text-align:justify;margin:5px 0 0 0;}
#accuweather-current-weather-page .forecast .day .weather{width:45%;float:right;border-left:1px solid #eee;padding-left:20px;}
#accuweather-current-weather-page dt{width:45%;float:left;display:block;border-bottom:1px solid #eee;line-height:1.7em;}
#accuweather-current-weather-page dd{width:45%;float:left;display:block;border-bottom:1px solid #eee;font-weight:bold;line-height:1.7em;}